{% raw %}{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock %}" />
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endraw %}{{cookiecutter.project_name}}{% raw %}{% endblock title %}</title>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

    {% block css %}
      <!-- bower:css -->
      <!-- endbower -->
      <!-- inject:css -->
      <!-- endinject -->
    {% endblock %}

  </head>

  <body>
    <header>

    </header>
    <main class="container">

      {% block content %}
        <p>Use this document as a way to quick start any new project.</p>
      {% endblock content %}

    </main>
    <footer>

    </footer>

    {% block javascript %}
      <!-- bower:js -->
      <!-- endbower -->
      <!-- inject:js -->
      <!-- endinject -->
    {% endblock javascript %}
  </body>
</html>{% endraw %}
